<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style >
        *,:before,:after{box-sizing:border-box;-webkit-box-sizing:border-box;}
        html{height: 100%;-webkit-font-smoothing: antialiased;-ms-text-size-adjust: 100%;-webkit-text-size-adjust:100%;font-size:62.5%;/*-webkit-tap-highlight-color:rgba(0, 0, 0, 0);*/}
        body{margin:0;padding:0;color: #333;overflow:hidden;font-size: 16px;height: 100%;font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",sans-serif;background-color: #F9F9F9;}
        a{position: relative;cursor: pointer;text-decoration: none;color: #333;font-size: 1.3rem;}
        body,a{
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            -khtml-user-select: none;
            user-select: none;
        }
        .row_box{
            /*display: inline-block;*/
            width: 44%;
            margin-left: 3px;

        }
        .row_box table{
            border: 1px solid #ccc;
            font-size: 14px;
            /*margin-top: 5px;*/
            min-width: 100%;
            text-align: center;
            border-collapse: collapse;
            border-spacing: 0;
        }
        .row_box td,th{
            border: 1px solid #ccc;
        }
        .btn_box{
            /*display: inline-block;*/
            /*border: 1px solid #ccc;*/
            width: 10%;
            height: 500px;
        }
        .float_box{
            float:left;
        }
        .btn{
            display: block;
            margin-top: 80%;
            margin-left: 30%;
            width: 40%;
            height: 5%;
        }
        .dis_none{
            display: none;
        }
        .tab_box{
            border: 1px solid #ccc;
            height: 500px;
        }
        .tab_control li{
            display: inline-block;
            border: 1px solid #ccc;
            width:15%;
            height: 40px;
        }
        .video_box{
            width: 80%;
            height: 60%;
        }
        .group_add_box,.group_choose_box,.edit_device_box,#choose_dir_box{
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0,0,0,0.2);

        }
        .group_form_box,.dir_box{
            background-color: #ffffff;
            border: 1px solid black;
            width:350px;
            height: 150px;
            position: absolute;
            left: 50%;
            margin-left: -175px;
            top: 50%;
            margin-top: -180px;
        }
        .group_form_box li{
            display: inline-block;
        }
    </style>
    <link rel="stylesheet" href="/public/css/style.css" />
</head>
<body >
<div class="tab_control ">
    <ul>
        <li class="check_tab" data-type="xrp">xrp</li>
        <li class="check_tab" data-type="ans">ans</li>
        <li class="check_tab" data-type="xas">xas</li>
    </ul>
</div>
<div class="video_box dis_none tab_control_box">
    <div class="isset_device_bar" style="float: right;width:250px">

    </div>
    <div class="view_box" style="margin-right:250px">
        <table>
            <tr>
                <td id="player_box">

                </td>
            </tr>
        </table>
    </div>
</div>
<div id="device_list" class="tab_control_box device_list" ms-controller="device_list">
    <div class="row_box float_box" id="unset_device">
        <div class="tab_box">
            <table>
                <thead>
                <tr>
                    <th><input type="checkbox" class="check_all" onclick="device_list.check_all(this)"/></th>
                    <th>ip</th>
                    <th>端口</th>
                    <th>访问地址</th>
                </tr>
                </thead>
                <tbody>
                <tr :for="(key,item) in unset_data"  >
                    <td><input type="checkbox" class="check_device" :attr="{'data-key':key}"/></td>
                    <td class="edit_col">{{item.hostname || ''}}</td>
                    <td>{{item.port || ''}}</td>
                    <td>{{item.path || ''}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <input type="button"  value="重新搜索" onclick="discover_device();"/>
        </div>
    </div>
    <div class="btn_box float_box">
        <input class="btn add_device" type="button" value="添加" onclick="device_list.add_device()"/>
        <input class="btn del_device" type="button" value="移除" onclick="device_list.del_device()"/>
    </div>
    <div class="row_box float_box" id="isset_device">
        <div class="tab_box">
            <table>
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" class="check_all"  onclick="device_list.check_all(this)"/>
                        编号
                    </th>
                    <th>ip</th>
                    <th>端口</th>
                    <th>访问地址</th>
                    <th>组</th>
                    <th>连接状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr :for="(key,item) in isset_data"  >
                    <td>
                        <input type="checkbox"  class="check_device" :attr="{'data-key':key}"/>
                        {{item.id || ''}}
                    </td>
                    <td class="edit_col">{{item.hostname || ''}}</td>
                    <td>{{item.port || ''}}</td>
                    <td>{{item.path || ''}}</td>
                    <td>{{item.group_name || ''}}</td>
                    <td>{{item.status || ''}}</td>
                    <td><a href="javascript:void(0)" class="show_device_edit" data-is_edit="1" :attr="{'data-id' : item.id}">修改</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <input type="button" class="show_device_edit" value="手动添加" data-is_edit="0"/>
            <input type="button" class="show_group_add" value="添加组"/>
        </div>


    </div>
</div>
<div class="setting_box dis_none tab_control_box">
    <div>
        选择分组:
        <select id="group_in_setting"  class="group_select"></select>
    </div>
    <div>
        <div class="device_setting">
            <span>设备设置</span>
            <ul>
                <li>
                    开启录像设备:
                    <div class="device_in_setting"></div>
                </li>
            </ul>

        </div>
        <div class="storage_setting">
            <span>储存设置</span>
            <ul>
                <li>
                    储存位置:
                    <input type="text" name="save_site" class="save_site"/>
                    <input type="button" id="getFilesList" value="浏览目录"/>
                </li>
                <li>
                    磁盘保留大小:
                    <input type="text" name="save_size" class="save_size"/> (MB)
                </li>
                <li>
                    文件打包时间:
                    <input type="text" name="file_time" class="file_time"/> (格式为 00:00:00)
                </li>
                <li>
                    当磁盘空间满时:
                    <input type="radio" name="save_type" class="save_type" value="stop"/>停止录像
                    <input type="radio" name="save_type" class="save_type" value="cover"/>覆盖早起录像
                </li>

            </ul>

        </div>
        <div class="time_setting">
            <span>时间设置</span>
            <ul class="time_setting_list">
                <li>
                    <input type="checkbox" data-date="1"/>
                    周一:
                    <input type="text" name="start_time"/>~
                    <input type="text" name="end_time"/>
                </li>
                <li>
                    <input type="checkbox" data-date="2"/>
                    周二:
                    <input type="text" name="start_time"/>~
                    <input type="text" name="end_time"/>
                </li>
                <li>
                    <input type="checkbox" data-date="3"/>
                    周三:
                    <input type="text" name="start_time"/>~
                    <input type="text" name="end_time"/>
                </li>
                <li>
                    <input type="checkbox" data-date="4"/>
                    周四:
                    <input type="text" name="start_time"/>~
                    <input type="text" name="end_time"/>
                </li>
                <li>
                    <input type="checkbox" data-date="5"/>
                    周五:
                    <input type="text" name="start_time"/>~
                    <input type="text" name="end_time"/>
                </li>
                <li>
                    <input type="checkbox"  data-date="6"/>
                    周六:
                    <input type="text" name="start_time"/>~
                    <input type="text" name="end_time"/>
                </li>
                <li>
                    <input type="checkbox" data-date="7"/>
                    周日:
                    <input type="text" name="start_time"/>~
                    <input type="text" name="end_time"/>
                </li>
            </ul>

        </div>
    </div>
    <input type="button" id="save_setting" value="保存" />
</div>
<div class="upload_setting_box dis_none tab_control_box">
    <div>
        选择分组:
        <select id="group_in_upload_setting"  class="group_select"></select>
    </div>
    <div>
        <div class="device_upload_setting">
            <span>设备设置</span>
            <ul>
                <li>
                    开启推流设备:
                    <div class="device_in_upload_setting"></div>
                </li>
            </ul>
        </div>
        <div class="storage_upload_setting">
            <span>hls设置</span>
            <ul>
                <li>
                    上传地址:
                    <input type="text" name="upload_url" class="upload_url"/>
                </li>
                <li>
                    分段文件时长:
                    <input type="text" name="upload_file_time" class="upload_file_time"/> (秒)
                </li>
            </ul>
        </div>
        <div class="time_upload_setting">
            <span>时间设置</span>
            <ul class="time_upload_setting_list">
                <li>
                    <input type="checkbox" data-date="1"/>
                    周一:
                    <input type="text" name="start_time"/>~
                    <input type="text" name="end_time"/>
                </li>
                <li>
                    <input type="checkbox" data-date="2"/>
                    周二:
                    <input type="text" name="start_time"/>~
                    <input type="text" name="end_time"/>
                </li>
                <li>
                    <input type="checkbox" data-date="3"/>
                    周三:
                    <input type="text" name="start_time"/>~
                    <input type="text" name="end_time"/>
                </li>
                <li>
                    <input type="checkbox" data-date="4"/>
                    周四:
                    <input type="text" name="start_time"/>~
                    <input type="text" name="end_time"/>
                </li>
                <li>
                    <input type="checkbox" data-date="5"/>
                    周五:
                    <input type="text" name="start_time"/>~
                    <input type="text" name="end_time"/>
                </li>
                <li>
                    <input type="checkbox"  data-date="6"/>
                    周六:
                    <input type="text" name="start_time"/>~
                    <input type="text" name="end_time"/>
                </li>
                <li>
                    <input type="checkbox" data-date="7"/>
                    周日:
                    <input type="text" name="start_time"/>~
                    <input type="text" name="end_time"/>
                </li>
            </ul>

        </div>
    </div>
    <input type="button" id="save_upload_setting" value="保存" />
</div>
<div class="group_add_box edit_box dis_none">
    <div class="group_form_box">
        <ul>
            <li>
                分组名：<input type="text" name="group_name" class="group_name"/>
                <input type="button" value="确认" class="add_group_name"/>
                <input type="button" value="取消" class="cancel_btn"/>
            </li>
        </ul>
    </div>
</div>
<div class="edit_device_box edit_box dis_none">
    <div class="group_form_box">
        <div>
            <span>域名：</span>&nbsp;&nbsp;&nbsp;
            <input type="text" name="hostname" class="hostname"/>
        </div>
        <div>
            <span>端口号：</span>&nbsp;&nbsp;&nbsp;
            <input type="text" name="port" class="port"/>
        </div>
        <div>
            <span>上传路径：</span>&nbsp;&nbsp;&nbsp;
            <input type="text" name="path" class="path"/>
        </div>
        <div>
            <span>用户名：</span>&nbsp;&nbsp;&nbsp;
            <input type="text" name="username" class="username"/>
        </div>
        <div>
            <span>密码：</span>&nbsp;&nbsp;&nbsp;
            <input type="text" name="password" class="password"/>
        </div>
        <div>
            <span>分组：</span>&nbsp;&nbsp;&nbsp;
            <select id="group_choose_add" class="group_select"></select>
        </div>
        <input type="button" class="save_config" value="确认"/>
        <input type="hidden" class="isset_id" value=""/>
        <input type="button" value="取消" class="cancel_btn"/>
    </div>
</div>
<div class="dis_none" id="choose_dir_box">
    <div class="dir_box" style="height: 250px;overflow: scroll">
        <div class="dir_list_box">

        </div>
        <input type="button" class="choose_file" value="确认"/>
        <input type="button" class="back_choose" value="返回"/>
        <input type="button" class="cancel_choose" value="取消" onclick="$('#choose_dir_box').hide();"/>
    </div>
</div>
</body>
<script src="/public/js/avalon.js"></script>
<script src="/public/js/jquery-1.10.2.min.js"></script>

<script>


/*处理postMessage*/
var wma={

};
window.addEventListener("message", function(e,a){
    if(e.data && typeof(wma[e.data.action])=='function'){
        wma[e.data.action](e.data.data, e.source);
    }
},false);
/*配置文件*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
function _copy(obj){
    return  JSON.parse(JSON.stringify(obj));
}
function _obj_set(obj,save_data){
    if(!save_data || !obj) return ;

    for(var k in save_data){
        obj[k]=save_data[k];
    }
}
/*avalon*/
var device_list=avalon.define({
    $id:"device_list",
    unset_data:[],
    isset_data:{},
    check_all:function(e){
        var _this= $(e);
        var access_box= _this.closest('table').find(".check_device");
        access_box.prop('checked',e.checked);
    },
    add_device:function(){
        var device_item=$('#unset_device').find('.check_device');
        $.each(device_item,function(k,v){
            var _this=$(v);
            if(v.checked){
                var key=_this.data('key');
                var item=device_list.unset_data[key];
                var data_id=0;
                item=_copy(item);
                item['status']='未连接';
                item['group_name']='默认组';
                device_list.unset_data.splice(key,1);
                var insert_data={
                    hostname:item.hostname,
                    username:'',
                    password:'',
                    port:item.port,
                    path:item.path,
                    group_name:'默认组',
                    group_id:1
                };
                $.ajax({
                    url:'/api/insert_device',
                    type:'get',
                    dataType:'JSON',
                    data:insert_data,
                    success:function(re){
                        if(re.status == 1 && re.info.re == 0){
                            data_id=re.info.id;
                            var isset_data=_copy(device_list.isset_data);
                            isset_data[re.info.id]=item;
                            device_list.isset_data=isset_data;
                            connect_device(item,data_id);
                        }
                    }
                });
            }
        });
    },
    del_device:function(){
        var device_item=$('#isset_device').find('.check_device');
        var isset_data=_copy(device_list.isset_data);
        $.each(device_item,function(k,v){
            var _this=$(v);
            if(v.checked){
                var key=_this.data('key');
                var item=isset_data[key];
                $.ajax({
                    url:'/api/del_device',
                    type:'get',
                    dataType:'JSON',
                    data:{id: item.id},
                    success:function(re){
                        if(re.status == 1 && re.info.re == 0){
                            delete isset_data[key];
                            device_list.isset_data=isset_data;
                        }
                    }
                });
                _this.prop('checked',false);
            }
        });
    }
});


function get_groups(){
    $.ajax({
        url:'/api/get_config',
        data:'',
        dataType:'JSON',
        type:'get',
        success:function(re){
            var data=re.info;
            /*将分组加入下拉框*/
            var group_select=$('.group_select');
            group_select.html('');
            var html_group='';
            $.each(data,function(k,v){
                html_group+='<option value="'+ v.id +'">'+ v.group_name +'</option>';
            });
            group_select.html(html_group);
            $('#group_in_setting').change();
            $('#group_in_upload_setting').change();
        }
    });
}
get_groups();
/*查找设备,并刷新未添加设备列表*/
function discover_device(){
    $.ajax({
        url:'/api/discover_device',
        dataType:'JSON',
        type:'get',
        success:function(re){
            re=re.info;
            var isset_hostname={};
            device_list.unset_data=[];
            $.each(device_list.isset_data,function(k,v){
                isset_hostname[v.hostname]=1;
            });
            $.each(re,function(k,v){
                if(!isset_hostname[v.hostname]){
                    device_list.unset_data.push(v);
                }
            });
        }
    })
}
discover_device();
/*连接所有已添加的设备*/
function select_device(group_name){
    if(!group_name) group_name='all';
    $.ajax({
        url:'/api/get_device',
        data:{group_name:group_name},
        dataType:'JSON',
        type:'get',
        success:function(re){
            var data=re.info;
            var isset_data={};
            $.each(data,function(k,v){
                v.status='未连接';
                isset_data[v.id]=v;
            });
            device_list.isset_data=isset_data;
            $.each(data,function(k,v){
                connect_device(data[k], v.id);
            });
        }
    });
}
select_device();
/*连接指定设备*/
function connect_device(item,data_id,cb){
    $.ajax({
        url:'/api/connect_device',
        type:'get',
        dataType:'JSON',
        data:item,
        success:function(re){
            if(re.status == 1){
                item['status']='已连接';
            }else{
                item['status']='未连接';
            }
            device_list.isset_data[data_id]['status']=item['status'];
            if(typeof(cb)=='function') cb(re.info);
        }
    });
}
/*更新isset_data中指定的数据*/
function update_isset_data(hostname,keyname,value){
    $.each(device_list.isset_data,function(k,v){
        if(v.hostname == hostname){
            $.each(keyname,function(k1,v1){
                device_list.isset_data[k][v1]=value[k1];
            });
        }
    });
}
/*loading动画*/
function show_loading(){
    if(!$('.t-loading').length>0){
        $('body').append("<div class='t-loading'></div>");
    }
}
function hide_loading() {
    if($('.t-loading').length>0){
        $('.t-loading').remove();
    }
}
$(function(){
    $('.check_tab').click(function(){
        var type=$(this).data('type');
        $('.tab_control_box').hide();
        $('.'+type).show();
        switch (type){
            case 'setting_box':
                $('#group_in_setting').change();
                break;
            case 'upload_setting_box':
                $('#group_in_upload_setting').change();
                break;
            case 'video_box':
                var box=$('.'+type+' .isset_device_bar').html('');
                var ul_data={};
                $.each(device_list.isset_data,function(k,item){
                    if(!ul_data[item.group_name]){
                        ul_data[item.group_name]=$('<ul></ul>');
                        box.append(ul_data[item.group_name]);
                    }
                    ul_data[item.group_name].append(
                            '<li class="isset_device_item" data-id="'+k+'">' +
                            '<span class="status_icon"></span>' +
                            '<span>'+item.hostname+'</span>' +
                            '</li>'
                    );
                });
                break;
        }
    });
    $(document).on('click','.isset_device_item',function(){
        var data_id=$(this).data('id');
        if(device_list.isset_data[data_id]){
            $.ajax({
                url:'/api/get_rtmp_url',
                data:device_list.isset_data[data_id],
                dataType:'JSON',
                success:function(re){
                    if(re.info == 0) {
                        console.log('click isset_device_item',re.info);

                    }else{
                        alert('连接失败');
                    }
                },
                error:function(){
                    alert('连接失败，接口错误');
                }
            });
        }
    });
    $('.show_group_add').click(function(){/*添加分组标记框*/
        $('.group_add_box').show();
    });
    $('.add_group_name').click(function(){/*确认添加*/
        $('.group_add_box').hide();
        var group_name= $.trim($('.group_name').val());
        if(!group_name){
            alert('分组名不能为空');
        }else{
            $.ajax({
                url:'/api/insert_groups',
                data:{group_name:group_name},
                dataType:'JSON',
                success:function(re){
                    console.log('re_group',re);
                    if(re.info == 0) {
                        alert('新增成功');
                        get_groups();
                    }else{
                        alert('新增失败');
                    }
                    $('.group_name').val('');
                },
                error:function(){
                    alert('提交失败，接口错误');
                }
            });
        }
        get_groups();
    });
    $(document).on('click','.show_device_edit',function(){
        var is_edit=$(this).data('is_edit');
        if(is_edit){
            var id=$(this).attr('data-id');
            $('.save_config').data('is_edit',is_edit).data('id',id);
            $.ajax({
                url:'/api/get_device',
                data:{id:id},
                dataType:'JSON',
                type:'get',
                success:function(re){
                    var data=re.info;
                    $('.hostname').val(data[0].hostname);
                    $('.port').val(data[0].port);
                    $('.path').val(data[0].path);
                    $('.username').val(data[0].username);
                    $('.password').val(data[0].password);
                    $('#group_choose_add').val(data[0].group_id).change();
                    $('.isset_id').val(data[0].id);
                }
            });
        }
        $('.edit_device_box').show();
    });
    /*确认添加设备*/
    $(document).on('click','.save_config',function(){
        var is_edit=$(this).data('is_edit');
        var id=$(this).data('id');
        var edit_device_box=$('.edit_device_box');
        edit_device_box.hide();
        var hostname=$('.hostname').val();
        var port=$('.port').val();
        var path=$('.path').val();
        var group_id=$('#group_choose_add').val();
        var group_name=$('#group_choose_add option[value="'+group_id+'"]').text();
        var username=$('.username').val();
        var password=$('.password').val();
        var isset_id=$('.isset_id').val();
        var data={
            hostname:hostname,
            port:port,
            path:path,
            group_id:group_id,
            group_name:group_name,
            username:username,
            password:password,
            status:'',
            id:id
        };
        if(is_edit == 1){
            $.ajax({
                url:'/api/update_device',
                data:data,
                dataType:'JSON',
                type:'get',
                success:function(re){
                    if(re.info == 0) {
                        console.log(data);
                        _obj_set(device_list.isset_data[isset_id],data);
                        alert('修改成功');
                        connect_device(data,isset_id);
                    }else{
                        alert('修改失败');
                    }
                }
            });
        }else{
            data['status']='未连接';
            $.ajax({
                url:'/api/insert_device',
                data:data,
                dataType:'JSON',
                type:'get',
                success:function(re){
                    if(re.status == 1 && re.info.re == 0) {
                        var isset_data=_copy(device_list.isset_data);
                        isset_data[re.info.id]=data;
                        device_list.isset_data=isset_data;
                        alert('新增成功');
                        connect_device(data,re.info.id);
                    }else{
                        alert('新增失败');
                    }
                }
            });
        }
    });
    $('.cancel_btn').click(function(){
        $(this).closest('.edit_box').hide();
    })
});
/*设置相关*/
$(function(){
    var group_id;
    /*选择分组后切换设备*/
    $('#group_in_setting').change(function(){
        group_id=$(this).val();
        /*获取设备列表*/
        var device_in_setting=$('.device_in_setting');
        device_in_setting.html('');
        /*获取组设备*/
        $.ajax({
            url:'/api/get_device',
            data:{group_id:group_id},
            dataType:'JSON',
            type:'get',
            success:function(re){
                var data=re.info;
                var html='';
                $.each(data,function(k,v){
                    html+='<input class="device_start_record_ckb" type="checkbox" value="'+ v.id+'"/>'+ v.hostname;
                });
                device_in_setting.html(html);
            }
        });
        /*获取原配置*/
        $.ajax({
            url:'/api/get_config',
            data:{id:group_id},
            dataType:'JSON',
            type:'get',
            success:function(re){
                var data=re.info[0];
                /*情况原数据*/
                var setting_box=$('.setting_box');
                setting_box.find('input').not('#save_setting,.device_start_record_ckb,.save_type,#getFilesList').val('');
                setting_box.find("input[type='checkbox']").prop('checked',false);
                if(!$.isEmptyObject(data)){
//                    /*组名*/
//                    var group_name=data.group_name;
                    /*设置数据*/
                    if(data.value){
                        var value=JSON.parse(data.value);
                        /*设备设置数据*/
                        var device_list=value['device_list'];
                        var device_checkbox=device_in_setting.find("input[type='checkbox']");
                        $.each(device_checkbox,function(k,v){
                            if($.inArray($(v).val(),device_list) != -1){
                                $(v).prop('checked',true);
                            }else{
                                $(v).prop('checked',false);
                            }
                        });
                        /*储存设置数据*/
                        var storage_data=value['storage_data'];
                        $('.file_time').val(storage_data.file_time);
                        $('.save_site').val(storage_data.save_site);
                        $('.save_size').val(storage_data.save_size);
                        $.each($('.save_type'),function(k,v){
                            if($(v).val() == storage_data.save_type){
                                $(v).prop('checked',true);
                            }else{
                                $(v).prop('checked',false);
                            }
                        });
                        /*时间设置数据*/
                        var time_setting_data=value['time_setting_data'];
                        var time_setting_checkbox=$('.time_setting_list').find("input[type='checkbox']");
                        $.each(time_setting_data,function(k,v){
                            $.each(time_setting_checkbox,function(k1,v1){
                                if($(v1).data('date') == k){
                                    $(v1).prop('checked',true);
                                    $(v1).next().val(v.start_time);
                                    $(v1).next().next().val(v.end_time);
                                }else{
                                    $(v).prop('checked',false);
                                }
                            })
                        });
                    }
                }
            }
        });
    });
    $('#group_in_upload_setting').change(function(){
        group_id=$(this).val();
        /*获取设备列表*/
        var device_in_setting=$('.device_in_upload_setting');
        device_in_setting.html('');
        /*获取组设备*/
        $.ajax({
            url:'/api/get_device',
            data:{group_id:group_id},
            dataType:'JSON',
            type:'get',
            success:function(re){
                var data=re.info;
                var html='';
                $.each(data,function(k,v){
                    html+='<input class="device_start_upload_ckb" type="checkbox" value="'+ v.id+'"/>'+ v.hostname;
                });
                device_in_setting.html(html);
            }
        });
        /*获取原配置*/
        $.ajax({
            url:'/api/get_config',
            data:{id:group_id},
            dataType:'JSON',
            type:'get',
            success:function(re){
                var data=re.info[0];
                /*情况原数据*/
                var setting_box=$('.upload_setting_box');
                setting_box.find('input').not('#save_upload_setting,.device_start_upload_ckb').val('');
                setting_box.find("input[type='checkbox']").prop('checked',false);
                if(!$.isEmptyObject(data)){
//                    /*组名*/
//                    var group_name=data.group_name;
                    /*设置数据*/
                    if(data.upload_value){
                        var value=JSON.parse(data.upload_value);
                        /*设备设置数据*/
                        var device_list=value['device_list'];
                        var device_checkbox=device_in_setting.find("input[type='checkbox']");
                        $.each(device_checkbox,function(k,v){
                            if($.inArray($(v).val(),device_list) != -1){
                                $(v).prop('checked',true);
                            }else{
                                $(v).prop('checked',false);
                            }
                        });
                        /*储存设置数据*/
                        var storage_data=value['storage_data'];
                        $('.upload_file_time').val(storage_data.upload_file_time);
                        $('.upload_url').val(storage_data.upload_url);

                        /*时间设置数据*/
                        var time_setting_data=value['time_setting_data'];
                        var time_setting_checkbox=$('.time_upload_setting_list').find("input[type='checkbox']");
                        $.each(time_setting_data,function(k,v){
                            $.each(time_setting_checkbox,function(k1,v1){
                                if($(v1).data('date') == k){
                                    $(v1).prop('checked',true);
                                    $(v1).next().val(v.start_time);
                                    $(v1).next().next().val(v.end_time);
                                }else{
                                    $(v).prop('checked',false);
                                }

                            })
                        });
                    }
                }
            }
        });
    });
    /*保存设置*/
    $('#save_setting').click(function(){
        var device_in_setting=$('.device_in_setting').find("input[type='checkbox']");
        /*设备设置*/
        var device_list=[];/*设备hostname*/
        $.each(device_in_setting,function(k,v){
            var _this=$(this);
            if(v.checked){
                device_list.push(_this.val());
            }
        });
        /*储存设置*/
        var storage_data={};
        storage_data['save_site']=$('.save_site').val();
        storage_data['save_size']=$('.save_size').val();
        storage_data['file_time']=$('.file_time').val();
        $.each($('.save_type'),function(k,v){
           if(v.checked){
               storage_data['save_type']=$(v).val();
           }
        });
        /*时间设置*/
        var time_setting_data={};
        var time_setting_list=$('.time_setting_list').find('li');
        $.each(time_setting_list,function(k,v){
            var _this=$(v);
            var checkbox=_this.find("input[type='checkbox']");
            if(checkbox.is(':checked')){
                var date=checkbox.data('date');
                var start_time=_this.find("input[name='start_time']").val();
                var end_time=_this.find("input[name='end_time']").val();
                time_setting_data[date]={start_time:start_time,end_time:end_time}
            }
        });
        /*储存数据的处理*/
        var group_id=$('#group_in_setting').val();
//        var group_name=$('#group_choose_add option[value="'+group_id+'"]').text();
        var data={
            device_list:device_list,
            storage_data:storage_data,
            time_setting_data:time_setting_data
        };
        var save_data= JSON.stringify(data);
        $.ajax({
            url:'/api/update_config',
            data:{group_id:group_id,data:save_data,field:'value'},
            dataType:'JSON',
            type:'get',
            success:function(re){
                re=re.info;
                if(re== 0){
                    alert('保存成功');
                }else{
                    alert('保存失败');
                }
            }
        })
    });
    /*保存上传设置*/
    $('#save_upload_setting').click(function(){
        var device_in_setting=$('.device_in_upload_setting').find("input[type='checkbox']");
        /*设备设置*/
        var device_list=[];/*设备hostname*/
        $.each(device_in_setting,function(k,v){
            var _this=$(this);
            if(v.checked){
                device_list.push(_this.val());
            }
        });
        /*储存设置*/
        var storage_data={};
        storage_data['upload_url']=$('.upload_url').val();
        storage_data['upload_file_time']=$('.upload_file_time').val();

        /*时间设置*/
        var time_setting_data={};
        var time_setting_list=$('.time_upload_setting_list').find('li');
        $.each(time_setting_list,function(k,v){
            var _this=$(v);
            var checkbox=_this.find("input[type='checkbox']");
            if(checkbox.is(':checked')){
                var date=checkbox.data('date');
                var start_time=_this.find("input[name='start_time']").val();
                var end_time=_this.find("input[name='end_time']").val();
                time_setting_data[date]={start_time:start_time,end_time:end_time}
            }
        });
        /*储存数据的处理*/
        var group_id=$('#group_in_upload_setting').val();
//        var group_name=$('#group_choose_add option[value="'+group_id+'"]').text();
        var data={
            device_list:device_list,
            storage_data:storage_data,
            time_setting_data:time_setting_data
        };
        var save_data= JSON.stringify(data);
            $.ajax({
                url:'/api/update_config',
                data:{group_id:group_id,data:save_data,field:'upload_value'},
                dataType:'JSON',
                type:'get',
                success:function(re){
                    re=re.info;
                    if(re== 0){
                        alert('保存成功');
                    }else{
                        alert('保存失败');
                    }
                }
            })
        });

    /*载入选择文件夹功能*/
    function reload_choose_dir(dir,cb){
        $.ajax({
            url:'/api/getAllFiles',
            data:{dir:dir},
            dataType:'JSON',
            success:function(re){
                $('#choose_dir_box').show().data('selected_dir',dir);
                var data=re.info;
                var html='';
                for(var k in data){
                    var v=data[k];
                    html+="<div class='choose_dir'>"+v+"</div>"
                }
                $('#choose_dir_box .dir_list_box').html(html);
                if(typeof(cb)=='function') cb(re);
            }
        });
    }
    $(function(){
        $('#getFilesList').click(function(){
            reload_choose_dir($('.save_site').val());
        });
        $(document).on('click','.choose_dir',function(){
            $(this).attr('backgroundColor','blue');
            var val;
            var selected_dir=$('#choose_dir_box').data('selected_dir') || '';
            if(selected_dir != ''){
                val='\\'+$(this).text();
            }else{
                val=$(this).text();
            }
            selected_dir+=val;
            reload_choose_dir(selected_dir);
        }).on('click','.back_choose',function(){
            var selected_dir=$('#choose_dir_box').data('selected_dir');
            if(selected_dir){
                selected_dir=selected_dir.split('\\');
                selected_dir.pop();
                if(selected_dir.length<2) selected_dir=[];
                selected_dir=selected_dir.join('\\');
            }
            reload_choose_dir(selected_dir);
        }).on('click','.choose_file',function(){
            var selected_dir=$('#choose_dir_box').data('selected_dir');
            $('.save_site').val(selected_dir);
            $('#choose_dir_box .cancel_choose').click();
        });
    });
});

</script>

<script src="/public/ckplayer6.8/ckplayer/ckplayer.js"></script>
<script>
    $(function(){
        var flashvars={
            f:'',
            c:0
        };
        var params={bgcolor:'#FFF',allowFullScreen:true,allowScriptAccess:'always',wmode:'transparent'};
        CKobject.embedSWF('/public/ckplayer6.8/ckplayer/ckplayer.swf','player_box','ckplayer_a1','600','400',flashvars,params);
    });
</script>
</html>