<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style >
        *,:before,:after{box-sizing:border-box;-webkit-box-sizing:border-box;}
        html{width:100%;height: 100%;-webkit-font-smoothing: antialiased;-ms-text-size-adjust: 100%;-webkit-text-size-adjust:100%;font-size:62.5%;/*-webkit-tap-highlight-color:rgba(0, 0, 0, 0);*/}
        body{width:100%;height: 100%;margin:0;padding:0;color: #333;overflow:hidden;font-size: 16px;font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",sans-serif;background-color: #F9F9F9;}
        a{position: relative;cursor: pointer;text-decoration: none;color: #333;font-size: 1.3rem;}
        body,a{
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            -khtml-user-select: none;
            user-select: none;
        }
        .row_box{
            /*display: inline-block;*/
            width: 44%;
            margin-left: 3px;

        }
        .row_box table{
            border: 1px solid #ccc;
            font-size: 14px;
            /*margin-top: 5px;*/
            min-width: 100%;
            text-align: center;
            border-collapse: collapse;
            border-spacing: 0;
        }
        .row_box td,th{
            border: 1px solid #ccc;
        }
        .btn_box{
            /*display: inline-block;*/
            /*border: 1px solid #ccc;*/
            width: 10%;
            height: 500px;
        }
        .float_box{
            float:left;
        }
        .btn{
            display: block;
            margin-top: 80%;
            margin-left: 30%;
            width: 40%;
            height: 5%;
        }
        .dis_none{
            display: none;
        }
        .tab_box{
            border: 1px solid #ccc;
            height: 500px;
        }
        .tab_control li{
            display: inline-block;
            border: 1px solid #ccc;
            width:15%;
            height: 40px;
        }
        .chart_box{
            min-height:600px;
        }
    </style>
</head>
<body >
<div class="tab_control ">
    <ul>
        <li class="check_tab" data-type="xrp">xrp</li>
        <li class="check_tab" data-type="ans">ans</li>
        <li class="check_tab" data-type="xas">xas</li>
    </ul>
</div>
<div class="video_box dis_none tab_control_box">
    <div class="chart_box">
    </div>
</div>
<div class="video_box dis_none tab_control_box">
    <div class="chart_box">
    </div>
</div>
<div class="video_box dis_none tab_control_box">
    <div class="chart_box">
    </div>
</div>

</body>
<script type="text/javascript" src="/public/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src='/public/js/echarts.min.js'></script>

<script>


/*处理postMessage*/
var wma={

};
window.addEventListener("message", function(e,a){
    if(e.data && typeof(wma[e.data.action])=='function'){
        wma[e.data.action](e.data.data, e.source);
    }
},false);
/*配置文件*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
function _copy(obj){
    return  JSON.parse(JSON.stringify(obj));
}
function _obj_set(obj,save_data){
    if(!save_data || !obj) return ;

    for(var k in save_data){
        obj[k]=save_data[k];
    }
}


function get_groups(){
    $.ajax({
        url:'/api/get_config',
        data:'',
        dataType:'JSON',
        type:'get',
        success:function(re){
            var data=re.info;
            /*将分组加入下拉框*/
            var group_select=$('.group_select');
            group_select.html('');
            var html_group='';
            $.each(data,function(k,v){
                html_group+='<option value="'+ v.id +'">'+ v.group_name +'</option>';
            });
            group_select.html(html_group);
            $('#group_in_setting').change();
            $('#group_in_upload_setting').change();
        }
    });
}
get_groups();
/*查找设备,并刷新未添加设备列表*/
function discover_device(){
    $.ajax({
        url:'/api/discover_device',
        dataType:'JSON',
        type:'get',
        success:function(re){
            re=re.info;
            var isset_hostname={};
            device_list.unset_data=[];
            $.each(device_list.isset_data,function(k,v){
                isset_hostname[v.hostname]=1;
            });
            $.each(re,function(k,v){
                if(!isset_hostname[v.hostname]){
                    device_list.unset_data.push(v);
                }
            });
        }
    })
}
discover_device();
/*连接所有已添加的设备*/
function select_device(group_name){
    if(!group_name) group_name='all';
    $.ajax({
        url:'/api/get_device',
        data:{group_name:group_name},
        dataType:'JSON',
        type:'get',
        success:function(re){
            var data=re.info;
            var isset_data={};
            $.each(data,function(k,v){
                v.status='未连接';
                isset_data[v.id]=v;
            });
            device_list.isset_data=isset_data;
            $.each(data,function(k,v){
                connect_device(data[k], v.id);
            });
        }
    });
}
select_device();
/*连接指定设备*/
function connect_device(item,data_id,cb){
    $.ajax({
        url:'/api/connect_device',
        type:'get',
        dataType:'JSON',
        data:item,
        success:function(re){
            if(re.status == 1){
                item['status']='已连接';
            }else{
                item['status']='未连接';
            }
            device_list.isset_data[data_id]['status']=item['status'];
            if(typeof(cb)=='function') cb(re.info);
        }
    });
}
/*更新isset_data中指定的数据*/
function update_isset_data(hostname,keyname,value){
    $.each(device_list.isset_data,function(k,v){
        if(v.hostname == hostname){
            $.each(keyname,function(k1,v1){
                device_list.isset_data[k][v1]=value[k1];
            });
        }
    });
}
/*loading动画*/
function show_loading(){
    if(!$('.t-loading').length>0){
        $('body').append("<div class='t-loading'></div>");
    }
}
function hide_loading() {
    if($('.t-loading').length>0){
        $('.t-loading').remove();
    }
}
var tab_now='';
$(function(){

    var upColor = '#00da3c';
    var downColor = '#ec0000';

    function splitData(rawData) {
        var categoryData = [];
        var values = [];
        var volumes = [];
        var buy_all=[],sell_all=[],re_all=[];

        for (var i in rawData) {
            categoryData.push(rawData[i].time);
            buy_all.push(rawData[i].buy_all);
            sell_all.push(rawData[i].sell_all);
            re_all.push(rawData[i].buy_all-rawData[i].sell_all);

            values.push([rawData[i].buy,rawData[i].sell,rawData[i].low,rawData[i].high]);
        }

        return {
            categoryData: categoryData,
            values: values,
            volumes: volumes,
            buy_all:buy_all,
            sell_all:sell_all,
            re_all:re_all
        };
    }
    var refresh=function(){
        if(tab_now){
            /*获取组设备*/
            $.ajax({
                url:'/api/get_latest_data',
                data:{coin:tab_now.data('type')},
                dataType:'JSON',
                type:'get',
                success:function(re){
                    var data=re.info;

                    data = splitData(data);

                    var myChart=tab_now.data('chart');
                    myChart.setOption({
                        backgroundColor: '#fff',
                        animation: false,
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross'
                            },
                            backgroundColor: 'rgba(245, 245, 245, 0.8)',
                            borderWidth: 1,
                            borderColor: '#ccc',
                            padding: 10,
                            textStyle: {
                                color: '#000'
                            },
                            position: function (pos, params, el, elRect, size) {
                                var obj = {top: 10};
                                obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 30;
                                return obj;
                            },
                            extraCssText: 'width: 170px'
                        },
                        axisPointer: {
                            link: {xAxisIndex: 'all'},
                            label: {
                                backgroundColor: '#777'
                            }
                        },
                        grid: [
                            {
                                left: '10%',
                                right: '8%',
                                height: '40%'
                            },
                            {
                                left: '10%',
                                right: '8%',
                                top: '56%',
                                height: '36%'
                            }
                        ],
                        xAxis: [
                            {
                                type: 'time',
                                data: data.categoryData,
                                scale: true,
                                boundaryGap : false,
                                axisLine: {onZero: false},
                                splitLine: {show: true},
                                splitNumber: 20,
                                min: 'dataMin',
                                max: 'dataMax',
                                axisPointer: {
                                    z: 100
                                }
                            },
                            {
                                type: 'category',
                                gridIndex: 1,
                                data: data.categoryData,
                                scale: true,
                                axisLine: { },
                                axisTick: { },
                                splitLine: {show: true},
                                axisLabel: {show: true},
                                splitNumber: 20,
                                min: 'dataMin',
                                max: 'dataMax',
                                axisPointer: {
                                    label: {
                                        formatter: function (params) {
                                            var seriesValue = (params.seriesData[0] || {}).value;
                                            return params.value
                                            + (seriesValue != null
                                                    ? '\n' + echarts.format.addCommas(seriesValue)
                                                    : ''
                                            );
                                        }
                                    }
                                }
                            }
                        ],
                        yAxis: [
                            {
                                scale: true,
                                splitArea: {
                                    show: true
                                }
                            },
                            {
                                scale: true,
                                gridIndex: 1,
                                splitNumber: 2,
                                axisLine: { },
                                splitLine: {show: false}
                            }
                        ],
                        dataZoom: [
                            {
                                type: 'inside',
                                xAxisIndex: [0, 1],
                                start: 98,
                                end: 100
                            },
                            {
                                show: true,
                                xAxisIndex: [0, 1],
                                type: 'slider',
                                top: '85%',
                                start: 98,
                                end: 100
                            }
                        ],
                        series: [
                            {
                                name: 'Dow-Jones index',
                                type: 'candlestick',
                                data: data.values,
                                itemStyle: {
                                    normal: {
                                        color: upColor,
                                        color0: downColor,
                                        borderColor: null,
                                        borderColor0: null
                                    }
                                },
                                tooltip: {
                                    formatter: function (param) {
                                        param = param[0];
                                        return [
                                            'Date: ' + param.name + '<hr size=1 style="margin: 3px 0">',
                                            'Open: ' + param.data[0] + '<br/>',
                                            'Close: ' + param.data[1] + '<br/>',
                                            'Lowest: ' + param.data[2] + '<br/>',
                                            'Highest: ' + param.data[3] + '<br/>'
                                        ].join('');
                                    }
                                }
                            },
                            {
                                name: 'Volume',
                                type: 'bar',
                                xAxisIndex: 1,
                                yAxisIndex: 1,
                                data: data.re_all
                            }
                        ]
                    }, true);

                }
            });
        }
    };
    var refresh_timer=0;
    $('.check_tab').click(function(){
        tab_now=$(this);
        var index=tab_now.index();
        var tab_content=$('.tab_control_box').eq(index);

        $('.tab_control_box').hide();
        tab_content.show();

        if(!tab_now.data('chart')){
            var myChart = echarts.init(tab_content.find('.chart_box').get(0));
            tab_now.data('chart',myChart);
        }

        clearInterval(refresh_timer);
        refresh();
        refresh_timer=setInterval(refresh,5000);
    });

});

/*设置相关*/
$(function(){
    var group_id;
    /*选择分组后切换设备*/
    $('#group_in_setting').change(function(){
        group_id=$(this).val();
        /*获取设备列表*/
        var device_in_setting=$('.device_in_setting');
        device_in_setting.html('');
        /*获取组设备*/
        $.ajax({
            url:'/api/get_device',
            data:{group_id:group_id},
            dataType:'JSON',
            type:'get',
            success:function(re){
                var data=re.info;
                var html='';
                $.each(data,function(k,v){
                    html+='<input class="device_start_record_ckb" type="checkbox" value="'+ v.id+'"/>'+ v.hostname;
                });
                device_in_setting.html(html);
            }
        });
        /*获取原配置*/
        $.ajax({
            url:'/api/get_config',
            data:{id:group_id},
            dataType:'JSON',
            type:'get',
            success:function(re){
                var data=re.info[0];
                /*情况原数据*/
                var setting_box=$('.setting_box');
                setting_box.find('input').not('#save_setting,.device_start_record_ckb,.save_type,#getFilesList').val('');
                setting_box.find("input[type='checkbox']").prop('checked',false);
                if(!$.isEmptyObject(data)){
//                    /*组名*/
//                    var group_name=data.group_name;
                    /*设置数据*/
                    if(data.value){
                        var value=JSON.parse(data.value);
                        /*设备设置数据*/
                        var device_list=value['device_list'];
                        var device_checkbox=device_in_setting.find("input[type='checkbox']");
                        $.each(device_checkbox,function(k,v){
                            if($.inArray($(v).val(),device_list) != -1){
                                $(v).prop('checked',true);
                            }else{
                                $(v).prop('checked',false);
                            }
                        });
                        /*储存设置数据*/
                        var storage_data=value['storage_data'];
                        $('.file_time').val(storage_data.file_time);
                        $('.save_site').val(storage_data.save_site);
                        $('.save_size').val(storage_data.save_size);
                        $.each($('.save_type'),function(k,v){
                            if($(v).val() == storage_data.save_type){
                                $(v).prop('checked',true);
                            }else{
                                $(v).prop('checked',false);
                            }
                        });
                        /*时间设置数据*/
                        var time_setting_data=value['time_setting_data'];
                        var time_setting_checkbox=$('.time_setting_list').find("input[type='checkbox']");
                        $.each(time_setting_data,function(k,v){
                            $.each(time_setting_checkbox,function(k1,v1){
                                if($(v1).data('date') == k){
                                    $(v1).prop('checked',true);
                                    $(v1).next().val(v.start_time);
                                    $(v1).next().next().val(v.end_time);
                                }else{
                                    $(v).prop('checked',false);
                                }
                            })
                        });
                    }
                }
            }
        });
    });
    $('#group_in_upload_setting').change(function(){
        group_id=$(this).val();
        /*获取设备列表*/
        var device_in_setting=$('.device_in_upload_setting');
        device_in_setting.html('');

        /*获取原配置*/
        $.ajax({
            url:'/api/get_config',
            data:{id:group_id},
            dataType:'JSON',
            type:'get',
            success:function(re){
                var data=re.info[0];
                /*情况原数据*/
                var setting_box=$('.upload_setting_box');
                setting_box.find('input').not('#save_upload_setting,.device_start_upload_ckb').val('');
                setting_box.find("input[type='checkbox']").prop('checked',false);
                if(!$.isEmptyObject(data)){
//                    /*组名*/
//                    var group_name=data.group_name;
                    /*设置数据*/
                    if(data.upload_value){
                        var value=JSON.parse(data.upload_value);
                        /*设备设置数据*/
                        var device_list=value['device_list'];
                        var device_checkbox=device_in_setting.find("input[type='checkbox']");
                        $.each(device_checkbox,function(k,v){
                            if($.inArray($(v).val(),device_list) != -1){
                                $(v).prop('checked',true);
                            }else{
                                $(v).prop('checked',false);
                            }
                        });
                        /*储存设置数据*/
                        var storage_data=value['storage_data'];
                        $('.upload_file_time').val(storage_data.upload_file_time);
                        $('.upload_url').val(storage_data.upload_url);

                        /*时间设置数据*/
                        var time_setting_data=value['time_setting_data'];
                        var time_setting_checkbox=$('.time_upload_setting_list').find("input[type='checkbox']");
                        $.each(time_setting_data,function(k,v){
                            $.each(time_setting_checkbox,function(k1,v1){
                                if($(v1).data('date') == k){
                                    $(v1).prop('checked',true);
                                    $(v1).next().val(v.start_time);
                                    $(v1).next().next().val(v.end_time);
                                }else{
                                    $(v).prop('checked',false);
                                }

                            })
                        });
                    }
                }
            }
        });
    });
    /*保存设置*/
    $('#save_setting').click(function(){
        var device_in_setting=$('.device_in_setting').find("input[type='checkbox']");
        /*设备设置*/
        var device_list=[];/*设备hostname*/
        $.each(device_in_setting,function(k,v){
            var _this=$(this);
            if(v.checked){
                device_list.push(_this.val());
            }
        });
        /*储存设置*/
        var storage_data={};
        storage_data['save_site']=$('.save_site').val();
        storage_data['save_size']=$('.save_size').val();
        storage_data['file_time']=$('.file_time').val();
        $.each($('.save_type'),function(k,v){
           if(v.checked){
               storage_data['save_type']=$(v).val();
           }
        });
        /*时间设置*/
        var time_setting_data={};
        var time_setting_list=$('.time_setting_list').find('li');
        $.each(time_setting_list,function(k,v){
            var _this=$(v);
            var checkbox=_this.find("input[type='checkbox']");
            if(checkbox.is(':checked')){
                var date=checkbox.data('date');
                var start_time=_this.find("input[name='start_time']").val();
                var end_time=_this.find("input[name='end_time']").val();
                time_setting_data[date]={start_time:start_time,end_time:end_time}
            }
        });
        /*储存数据的处理*/
        var group_id=$('#group_in_setting').val();
//        var group_name=$('#group_choose_add option[value="'+group_id+'"]').text();
        var data={
            device_list:device_list,
            storage_data:storage_data,
            time_setting_data:time_setting_data
        };
        var save_data= JSON.stringify(data);
        $.ajax({
            url:'/api/update_config',
            data:{group_id:group_id,data:save_data,field:'value'},
            dataType:'JSON',
            type:'get',
            success:function(re){
                re=re.info;
                if(re== 0){
                    alert('保存成功');
                }else{
                    alert('保存失败');
                }
            }
        })
    });
    /*保存上传设置*/
    $('#save_upload_setting').click(function(){
        var device_in_setting=$('.device_in_upload_setting').find("input[type='checkbox']");
        /*设备设置*/
        var device_list=[];/*设备hostname*/
        $.each(device_in_setting,function(k,v){
            var _this=$(this);
            if(v.checked){
                device_list.push(_this.val());
            }
        });
        /*储存设置*/
        var storage_data={};
        storage_data['upload_url']=$('.upload_url').val();
        storage_data['upload_file_time']=$('.upload_file_time').val();

        /*时间设置*/
        var time_setting_data={};
        var time_setting_list=$('.time_upload_setting_list').find('li');
        $.each(time_setting_list,function(k,v){
            var _this=$(v);
            var checkbox=_this.find("input[type='checkbox']");
            if(checkbox.is(':checked')){
                var date=checkbox.data('date');
                var start_time=_this.find("input[name='start_time']").val();
                var end_time=_this.find("input[name='end_time']").val();
                time_setting_data[date]={start_time:start_time,end_time:end_time}
            }
        });
        /*储存数据的处理*/
        var group_id=$('#group_in_upload_setting').val();
//        var group_name=$('#group_choose_add option[value="'+group_id+'"]').text();
        var data={
            device_list:device_list,
            storage_data:storage_data,
            time_setting_data:time_setting_data
        };
        var save_data= JSON.stringify(data);
            $.ajax({
                url:'/api/update_config',
                data:{group_id:group_id,data:save_data,field:'upload_value'},
                dataType:'JSON',
                type:'get',
                success:function(re){
                    re=re.info;
                    if(re== 0){
                        alert('保存成功');
                    }else{
                        alert('保存失败');
                    }
                }
            })
        });

    /*载入选择文件夹功能*/
    function reload_choose_dir(dir,cb){
        $.ajax({
            url:'/api/getAllFiles',
            data:{dir:dir},
            dataType:'JSON',
            success:function(re){
                $('#choose_dir_box').show().data('selected_dir',dir);
                var data=re.info;
                var html='';
                for(var k in data){
                    var v=data[k];
                    html+="<div class='choose_dir'>"+v+"</div>"
                }
                $('#choose_dir_box .dir_list_box').html(html);
                if(typeof(cb)=='function') cb(re);
            }
        });
    }
    $(function(){
        $('#getFilesList').click(function(){
            reload_choose_dir($('.save_site').val());
        });
        $(document).on('click','.choose_dir',function(){
            $(this).attr('backgroundColor','blue');
            var val;
            var selected_dir=$('#choose_dir_box').data('selected_dir') || '';
            if(selected_dir != ''){
                val='\\'+$(this).text();
            }else{
                val=$(this).text();
            }
            selected_dir+=val;
            reload_choose_dir(selected_dir);
        }).on('click','.back_choose',function(){
            var selected_dir=$('#choose_dir_box').data('selected_dir');
            if(selected_dir){
                selected_dir=selected_dir.split('\\');
                selected_dir.pop();
                if(selected_dir.length<2) selected_dir=[];
                selected_dir=selected_dir.join('\\');
            }
            reload_choose_dir(selected_dir);
        }).on('click','.choose_file',function(){
            var selected_dir=$('#choose_dir_box').data('selected_dir');
            $('.save_site').val(selected_dir);
            $('#choose_dir_box .cancel_choose').click();
        });
    });
});

</script>

</html>